body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e3a8a; /* Medium blue */
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    color: #ffffff;
    flex-grow: 1;
    text-align: center;
}

header img {
    height: 100%; /* Same height as the header */
    max-height: 60px; /* Adjust as needed */
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background-color: #1e3a8a; /* Medium blue */
    padding: 10px;
    text-align: center;
    color: #ffffff;
}
